* {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0%;
  margin: 0px;
}
body {
  width: 100%;
  height: auto;
  background-color: black;
  /* background: #eae7dc; */
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  /* background-color: #d8c3a5; */
  background-color: black;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  border: 0.2rem solid #fff;
  padding: 0.8em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0fa, 0 0 0.8rem #0fa,
    0 0 2.8rem #0fa, inset 0 0 1.3rem #0fa;
  /* border: black solid; */
}

header nav a {
  text-align: right;
  /* border: 2px solid #e85a4f; */
  border: 0.2rem solid #fff;
  padding: 0.8em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0fa, 0 0 0.8rem #0fa,
    0 0 2.8rem #0fa, inset 0 0 1.3rem #0fa;
  /* padding: 5px; */
  margin: 5px;
  text-decoration: none;
  /* color: #e85a4f; */
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
h1 {
  display: flex;
  justify-content: left;
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  /* color: #8e8d8a; */
}
nav {
  display: flex;
  font: italic small-caps bold 30px Georgia, serif;
  justify-content: space-around;
  float: right;
}
nav a:hover {
  /* background: #e98074; */
  background: rgba(0, 255, 170, 0.324);
  text-decoration: underline;
  color: rgba(242, 242, 242, 0.996);
  text-transform: uppercase;
}
nav a:active {
  background: rgba(0, 255, 170, 0.421);
}

#me {
  display: flex;
  flex-direction: row;
  /* border: black solid; */
  height: 400px;
  margin: 10px;
  border: 0.2rem solid #fff;
  padding: 0.8em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0fa, 0 0 0.8rem #0fa,
    0 0 2.8rem #0fa, inset 0 0 1.3rem #0fa;
  /* padding: 10px; */
  /* box-shadow: -30px 30px 20px rgba(19, 19, 19, 0.679); */
}
article h2 {
  display: flex;
  justify-content: center;
  margin-left: 275px;
  font-size: 32px;
}
article {
  display: flex;
  float: right;
  flex-wrap: wrap;
  font-style: italic;
  line-break: auto;
  padding: 15px;
  font-size: 2em;
  color: #fff;
  /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, */
  /* 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa; */
  font-weight: bold;
  /* color: #e85a4f; */
}
#container {
  display: flex;
  gap: 5%;
  /* position: relative; */
  width: 100%;
  padding: 0;
  margin: 10px;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}
#project {
  display: block;
  /* border: black solid; */
  /* border-radius: 2%; */
  border: 0.2rem solid #fff;
  padding: 0.8em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0fa, 0 0 0.8rem #0fa,
    0 0 2.8rem #0fa, inset 0 0 1.3rem #0fa;
  height: 400px;
  width: 400px;
  /* box-shadow: -30px 30px 20px rgba(19, 19, 19, 0.679); */
}
.section {
  position: relative;
}
.project_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;

  width: 400px;
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  text-decoration: none;
}
.project_overlay > * {
  transform: translateY(20px);
  transition: transform 0.5s;
}
.project_overlay:hover {
  opacity: 1;
}
.project_overlay:focus {
  opacity: 0.5;
}
.project_overlay:hover > * {
  transform: translateY(0);
}
/* .project_overlay:focus { */
/* opacity: 0.5; */
/* } */

.project_title {
  font-size: 2em;
  font-weight: bold;
}
.project_description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
#horiseon {
  display: block;
  /* border: black solid; */
  height: 400px;
  border: 0.2rem solid #fff;
  padding: 0.8em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0fa, 0 0 0.8rem #0fa,
    0 0 2.8rem #0fa, inset 0 0 1.3rem #0fa;
  /* box-shadow: -30px 30px 20px rgba(19, 19, 19, 0.679); */
}
.horiseon_overlay {
  position: absolute;
  top: 0px;
  /* left: 487px; */
  height: 100%;
  width: 267px;
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  text-decoration: none;
}
.horiseon_overlay > * {
  transform: translateY(20px);
  transition: transform 0.5s;
}
.horiseon_overlay:hover {
  opacity: 1;
}
.horiseon_overlay:focus {
  opacity: 0.5;
}
.horiseon_overlay:hover > * {
  transform: translateY(0);
}
/* .project_overlay:focus { */
/* opacity: 0.5; */
/* } */

.horiseon_title {
  font-size: 2em;
  font-weight: bold;
}
.horiseon_description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
#prework {
  display: block;
  /* border: black solid; */
  height: 100%;
  width: 268px;
  border: 0.2rem solid #fff;
  padding: 0.8em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0fa, 0 0 0.8rem #0fa,
    0 0 2.8rem #0fa, inset 0 0 1.3rem #0fa;
  /* box-shadow: -30px 30px 20px rgba(19, 19, 19, 0.679); */
}
.prework_overlay {
  position: absolute;
  top: 0px;
  /* left: 842px; */
  height: 100%;
  width: 267px;
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  text-decoration: none;
}
.prework_overlay > * {
  transform: translateY(20px);
  transition: transform 0.5s;
}
.prework_overlay:hover {
  opacity: 1;
}
.prework_overlay:focus {
  opacity: 0.5;
}
.prework_overlay:hover > * {
  transform: translateY(0);
}

.prework_title {
  font-size: 2em;
  font-weight: bold;
}
.prework_description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
.prework {
  display: block;
  border: black solid;
  /* border-radius: 2%; */
  height: 100%;
  width: 268px;
  border: 0.2rem solid #fff;
  padding: 0.8em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0fa, 0 0 0.8rem #0fa,
    0 0 2.8rem #0fa, inset 0 0 1.3rem #0fa;
  /* box-shadow: -30px 30px 20px rgba(19, 19, 19, 0.679); */
}
footer {
  display: flex;
  text-align: center;
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
  color: #0fa;
  justify-content: center;
  margin-top: 250px;
  padding: 10px;
}
