* {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0%;
  margin: 0px;
}
Form {
  width: 70vw;
  margin-left: 12px;
}
/* used root styling to establish a baseline */
main {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  min-height: 200px;
  width: 85vw;
  height: 50vh;
  border-radius: 3px;
  margin: 140px auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

#profile {
  width: 20vh;
  border: 5px inset #b4bec9;
}

p {
  overflow: hidden;
  overflow-y: auto;
  min-height: 200px;
  /* width: 85vw; */
  height: 50vh;
  padding: 40px;
  font-size: larger;
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 992px) {
  main {
    margin: 20px;
  }
}

@media only screen and (max-width: 600px) {
  main {
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
  }
}
