/* added individual styling for footer */
footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #159a9c;
  margin-top: 25px;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #002333;
}
section {
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 999px) {
  footer {
    position: inherit;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 500px) {
}
